/*========================= GOOGLE FONTS =========================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap");


/*========================= UNCHANGING VARIABLES =========================*/
:root {
  /*========== Colors ==========*/
  --orange-color: hsl(25,95%,55%);
  --green-color: hsl(102,67%,23%);
  --black-color: hsl(0, 0%, 0%);
  --gray-color: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --text-color-dark: hsl(40, 48%, 12%);
  --text-color-medium: hsl(40, 24%, 24%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color-1: hsl(32,35%,94%);
  --body-color-2: hsl(30,34%,89%);
  --button-color-1: hsl(33,26%,68%);
  --button-color-2: hsl(35,35%,55%);
  /*========== Font style ==========*/
  --body-font-style: "Cormorant Garamond", sans-serif;
  --text-font-style: "Montserrat", sans-serif;
  /*========== Font weight ==========*/
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;
  /*========== z-index ==========*/
  --z-fixed: 100;
}


/*========================= RESPONSIVE ROOT FONT SIZE =========================*/
:root {
  font-size: calc(10px + 0.5vw);
}
@media screen and (min-width: 310px) {
  :root {
    font-size: calc(12px + 0.5vw);
  }
}
@media screen and (min-width: 400px) {
  :root {
    font-size: calc(13px + 0.5vw);
  }
}
@media screen and (min-width: 576px) {
  :root {
    font-size: calc(14px + 0.5vw);
  }
}
@media screen and (min-width: 768px) {
  :root {
    font-size: calc(15px + 0.5vw);
  }
}
@media screen and (min-width: 1150px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (min-width: 1500px) {
  :root {
    font-size: 20px;
  }
}


/*========================= RESPONSIVE VARIABLES =========================*/
@media screen and (max-width: 1149px) {
  :root {
    --header-height: 3.5rem;
    /*========== Font and typography ==========*/
    --h1-name-font-size: 2rem;
    --h2-section-title-font-size: 2rem;
    --h3-title-font-size: 1.25rem;
    --h3-navlink-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
  }
}
@media screen and (min-width: 1150px) {
  :root {
    --header-height: 5.5rem;
    /*========== Font and typography ==========*/
    --h1-name-font-size: 3rem;
    --h2-section-title-font-size: 4.5rem;
    --h3-title-font-size: 1.5rem;
    --h3-navlink-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}


/*========================== BASE ==========================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font-style);
  font-size: var(--normal-font-size);
  background-color: var(--body-color-1);
  color: var(--text-color-medium);
  transition: background-color .4s;
}
h1, h2, h3, h4 {
  color: var(--text-color-dark);
  font-weight: var(--bold-weight);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.main {
  overflow: hidden;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
.section {
  padding-block: 4rem 3rem;
  position: relative;
  overflow: hidden;
} 
.section__title {
  position: relative;
  font-size: var(--h2-section-title-font-size);
  width: max-content;
  margin: 1.25rem auto 6rem;
  z-index: 10;
} 
.section__title span {
  position: relative;
}
.title__accent {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-55%);
  font-size: 6.5rem;
  color: var(--green-color);
  z-index: 5;
  text-align: center;
  white-space: nowrap;
}
.title__accent-svg {
  position: absolute;
  right: -2.75rem;
  top: 4.6rem;
  transform: scale(0.9);
}


/*=============== UTILITY CLASSES ===============*/
.grid {
  display: grid;
  gap: 1.5rem;
}
.flex__centered {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*=============== BUTTONS ===============*/
.about__contact-button,
.contact__button,
.socials__button,
.resume__button {
  column-gap: .5rem;
}

.about__contact-button,
.contact__button {
  background-color: var(--black-color);
  padding: 1rem 1.5rem;
  color: var(--white-color);
  font-weight: var(--medium-weight);
  transition: background-color .4s, color .4s, border .4s;
}

.about__contact-button {
  border: 2.5px solid var(--black-color);
}

.about__contact-button i,
.contact__button i {
  font-size: 1.25rem;
}

.resume__button {
  border: 2.5px solid var(--green-color);
  border-radius: 50%/50%;
  color: var(--green-color);
  padding: 1.75rem 2.5rem;
  transition: border .4s, color .4s;
}

.resume__button span {
  font-weight: var(--semi-bold-weight);
}

.resume__button i {
  font-size: 1.25rem;
}

.socials__button {
  border: 3px solid var(--black-color);
  color: var(--black-color);
  padding: .25rem;
  transition: border .4s, color .4s;
}

.socials__button i {
  font-size: 1.5rem;
}

.socials__button:hover {
  border: 3px solid var(--orange-color);
  color: var(--orange-color);
}

.resume__button:hover {
  border: 2.5px solid hsla(25,95%,55%);
  color: hsla(25,95%,55%);
  opacity: .6;
}

.nav__buttons {
  display: flex;
  column-gap: .75rem;
  align-items: center;

}

.change-theme-button {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--text-color-medium);
  transform: rotate(15deg);
  transition: transform .4s, color .4s;
}

.change-theme-button:hover {
  color: var(--text-color-dark);
  transform: rotate(-15deg);
}

.icon-animation {
  animation: swap-icon .4s;
}
  
/* Icon swap animation */
@keyframes swap-icon {
  50% {
    transform: rotate(360deg);
    scale: 0;
  }
  100% {
    transform: rotate(0deg);
    scale: 1;
  }
}


/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color-1);
  z-index: var(--z-fixed);
  transition: box-shadow .4s, background-color .4s;
}

.nav {
  font-family: var(--text-font-style);
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__name {
  font-size: var(--h3-navlink-font-size);
  font-weight: var(--semi-bold-weight);
  color: var(--text-color-dark);
}

.nav__toggle {
  width: 32px;
  height: 32px;
  color: var(--black-color);
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__toggle:hover {
  background-color: var(--body-color-2);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1149px) {
  .nav__menu {
    position:fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, .75);
    width: 100%;
    padding-block: 1.8rem 5rem;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: top .4s;
  }
}

.nav__title,
.nav__close {
  color: var(--white-color);
}

.nav__title {
  position: relative;
  width: max-content;
  margin: 3rem auto 3rem;
  font-size: 1.25rem;
  font-weight: var(--bold-weight);
}

.nav__title::after,
.nav__title::before {
  content: '';
  width: 40px;
  height: 1px;
  background-color: var(--text-color-light);
  position: absolute;
  top: 50%;
  left: -4rem;
}

.nav__title::before {
  left: initial;
  right: -4rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  position: relative;
  color: var(--text-color-light);
  font-size: var(--h3-navlink-font-size);
  font-weight: var(--semi-bold-weight);
  transition: color .4s;
}

.nav__link::after {
  content:  '';
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .4s;
}

.nav__link:hover {
  color: var(--white-color);
}

.nav__link:hover::after {
  width: 100%;
}

.nav__close {
  position: absolute;
  font-size: 1.75rem;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12);
}

.active-link {
  color: var(--white-color);
}

.active-link::after {
  width: 100%;
}


/*=============== HOME ===============*/
.home__container {
  padding-top: 2rem;
}

.home__name {
  font-size: var(--h1-name-font-size);
  text-align: center;
  font-family: "Cormorant Garamond", "Montserrat", sans-serif;
  border: 3px solid var(--black-color);
  border-radius: 50%/50%;
  padding: 1.75rem 2.5rem;
  justify-self: center;
  white-space: nowrap;
  margin-bottom: 4rem;
}

.home__profile {
  justify-self: center;
}

.home__profile__image {
  width: 220px;
}

.home__img {
  position: relative;
  z-index: 15;
  bottom: 0;
  padding-bottom: 5px;
}

.home__border,
.home__profile__image-background {
  width: 100%;
  height: 85%;
  border-top-right-radius: 450px 300px;
  border-top-left-radius: 450px 300px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.home__border {
  position: absolute;
  z-index: 10;
  border: 5px solid var(--black-color);
}

.home__profile__image-background {
  z-index: 5;
  padding-bottom: 5px;
}

.home__bg-img {
  position: absolute;
  z-index: 5;
  bottom: 0;
}

.home__svg {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
  width: 130%;
  font-weight: var(--semi-bold-weight);
}

.home__svg-text {
  font-size: 13px;
  fill: var(--text-color-dark);
  font-family: "Cormorant Garamond", "Montserrat", sans-serif;
}

.home__accent {
  font-family: "Cormorant Garamond", "Montserrat", sans-serif;
  font-size: 4.75rem;
  position: absolute;
  text-align: right;
  background-image: linear-gradient(90deg,
  hsla(102, 67%, 23%, 0.5),
  hsla(102, 67%, 23%,  1));
  top: -3.25rem;
  right: -5.25rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 0.9;
  white-space: nowrap;
}

.home__accent span {
  display: block;
}

.home__accent span:nth-child(1) {
  margin-right: 2rem;
}

.home__accent span:nth-child(2) {
  font-size: 1.4rem;
}

.home__flowers-grid {
  position: absolute;
  display: grid;
  bottom: -1rem;
  right: -4.5rem;
}

.home__arrows-grid {
  position: absolute;
  display: grid;
  top: -2.5rem;
  left: -5rem;
  row-gap: 7rem;
}

.home__flowers-grid img {
  transform: scale(0.8);
}

.home__arrows-grid img {
  transform: scale(0.6);
}

.home__info {
  margin-top: 3rem;
  justify-self: center;
  max-width: 350px;
}

.home__description {
  font-family: var(--text-font-style);
  text-align: center;
  color: var(--text-color-dark);
}

.home__description b {
  background: linear-gradient(90deg,
              hsla(25,95%,55%, .4),
              hsla(25,95%,55%, .1));
}

.home__scroll {
  font-family: "Cormorant Garamond", "Montserrat", sans-serif;
  width: max-content;
  margin: 3rem auto;
  color: var(--green-color);
  height: 36px;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: background-color .4s;
}

.home__scroll span {
  position: relative;
}

.home__scroll span::after {
  content:  '';
  width: 0;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  left: 0;
  bottom: -.25rem;
  transition: width .4s;
}

.home__scroll:hover span::after {
  width: 100%;
}

.home__scroll i {
  animation: scroll-down 3s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(.6rem);
    opacity: 0;
  }
}


/*=============== ABOUT ===============*/
.about {
  background-color: var(--body-color-2);
  transition: background-color .4s;
}

.about .title__accent {
  transform: translateX(-55%);
}

.about__container {
  row-gap: 0;
}

.about__profile {
  position: relative;
  justify-self: center;
  margin-bottom: 2.5rem;
}

.about__image {
  width: 220px;
  position: relative;
  left: -1rem;
}

.about__img {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid var(--black-color);
}

.about__border,
.about__image-background {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  overflow: hidden;
  border-radius: 36% 64% 60% 40% / 30% 30% 70% 70%;
}

.about__border {
  z-index: 10;
  border: 5px solid var(--black-color);
}

.about__image-background {
  z-index: 5;
}

.about__bg-img {
  position: absolute;
  z-index: 5;
  top: 0;
}

.about__socials {
  height: max-content;
  position: absolute;
  right: -3.25rem;
  bottom: 1.25rem;
  display: grid;
  row-gap: 1rem;
}

.about__info {
  font-family: var(--text-font-style);
  padding-left: 1.25rem;
  max-width: 550px;
  justify-self: center;
}

.about__resume {
  margin-bottom: 2rem;
}

.about__description {
  position: relative;
  color: var(--text-color-dark);
  margin-bottom: 3rem;
}

.about__description::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: var(--orange-color);
  position: absolute;
  left: -1.75rem;
  top: .5rem;
}


/*=============== SKILLS AND TECH ===============*/
.skills {
  background-image: url('../img/about-profile.jpeg');
  background-size: cover;
}

.skills::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.skills__container {
  grid-template-columns: 275px;
  justify-content: center;
  row-gap: 2rem;
}

.skills .section__title {
  color: var(--white-color);
}

.skills__card {
  position: relative;
  font-family: var(--text-font-style);
  color: var(--white-color);
}

.skills__content {
  height: 100%;
  background-color: transparent;
  border: 3px solid var(--white-color);
  padding: 3rem 1.5rem 3rem 1.5rem;
  z-index: 5;
  position: relative;
  transition: all 0.4s ease;
}

.skills__card:hover .skills__content {
  border: 3px solid var(--orange-color);
  background-color: rgba(0, 0, 0, 0.4);
}

.skills__title {
  font-size: var(--h3-title-font-size);
  margin-bottom: 1.25rem;
  color: var(--white-color);
}

.skills__description {
  margin-bottom: 2.5rem;
}

.logo__guide {
  position: relative;
}

.span__two .skills__logo-plain,
.span__two .skills__logo-color {
  width: 3rem;
}

.skills__logo-plain,
.skills__logo-color {
  width: 1.5rem;
  transition: transform .4s, filter .4s, opacity .4s;
}

.skills__logo-color {
  position: absolute;
  top: 0;
  opacity: 0;
}

.skills__logo-plain {
  filter: invert(1);
}

.skills__logo-color:hover {
  transform: translateY(-.5rem);
}

.skills__content:hover .skills__logo-color {
  opacity: 1;
}

.skills__content:hover .skills__logo-plain {
  opacity: 0;
}

.skills__logos {
  grid-template-columns: repeat(5, max-content);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.sqa__grid {
  grid-template-columns: repeat(3, max-content);
  gap: 3.5rem;
}

/*=============== PROJECTS ===============*/
.projects {
  background-color: var(--body-color-2);
  transition: background-color .4s;
}

.projects__container {
  row-gap: 2rem;
}

.projects__card {
  padding: 1rem 1rem 2rem;
  border: 2px solid transparent;
  transition: all 0.4s ease !important;
  font-family: var(--text-font-style);
}

.projects__preview {
  position: relative;
  margin-bottom: .75rem;
}

.projects__preview iframe {
  max-width: 100%;
  border: 2px solid var(--black-color);
}

.projects__button {
  position: absolute;
  right: 1rem;
  bottom: -1.5rem;
  padding: 1rem;
}

.projects__content {
  margin-bottom: 1.25rem;
}

.projects__subtitle {
  position: relative;
  display: inline-block;
  font-size: var(--small-font-size);
  font-weight: var(--medium-weight);
  color: var(--text-color-medium);
  margin-bottom: .75rem;
  padding-left: 1.75rem;
}

.projects__subtitle::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: var(--orange-color);
  position: absolute;
  top: 50%;
  left: 0;
}

.projects__title {
  font-size: var(--h3-title-font-size);
  margin-bottom: .75rem;
}

.projects__buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.projects__link {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--text-color-medium);
  font-size: var(--small-font-size);
  font-weight: var(--medium-weight);
  transition: color .4s;
}

.project__link i {
  font-size: 1rem;
  color: var(--text-color-dark);
  transition: color .4s;
}

.projects__link:hover,
.projects__link:hover i {
  color: var(--green-color);
}

.projects__card:hover {
  background-color: var(--white-color);
  border: 2px solid var(--orange-color);
}


/*=============== CONTACT ===============*/
.contact {
  padding-bottom: 0;
  font-family: var(--text-font-style);
}

.contact__container {
  position: relative;
  grid-template-rows: 300px max-content max-content;
  row-gap: 0;
}

.contact__data {
  position: relative;
  width: 300px;
  height: 220px;
  background-color: var(--body-color-2);
  padding: 3rem 1.5rem 3.5rem;
  margin-left: auto;
  border-bottom: 5px solid var(--green-color);
  z-index: 5;
  transition: background-color .4s;
}

.contact__data .section__title {
  font-family: var(--body-font-style);
  margin: 0 4.5rem 1.5rem;
  transform: translateX(-3rem);
}

.contact__description-1 {
  color: var(--text-color-dark);
  font-weight: var(--medium-weight);
  margin-bottom: 2rem;
}

.contact__mail {
  position: relative;
  background-color: var(--black-color);
  padding: 5rem 1.5rem 2.5rem;
  margin-top: -8rem;
  transition: background-color .4s;
}

.contact__title {
  color: var(--white-color);
  font-size: var(--h3-title-font-size);
  margin-bottom: 2rem;
  text-align: center;
}

.contact__form,
.contact__group {
  display: grid;
  row-gap: 1.25rem;
}

.contact__form {
  position: relative;
}

.contact__box {
  position: relative;
  width: 100%;
  height: 58px;
}

.contact__input,
.contact__button {
  font-family: var(--text-font-style);
  font-size: var(--normal-font-size);
  outline: none;
  border: none;
}

.contact__input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  border: 3px solid var(--gray-color);
  color: var(--white-color);
  padding: .5rem 1rem;
  font-weight: var(--medium-weight);
  transition: border .4s, background-color .4s;
}

.contact__input::placeholder {
  color: var(--text-color-light);
  transition: opacity .4s;
}

.contact__input:focus {
  border: 3px solid var(--white-color);
}

.contact__input:-webkit-autofill {
  transition: background-color 6000s, color 6000s;
}

.contact__label {
  position: absolute;
  top: 8px;
  left: 10px;
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  font-weight: var(--medium-weight);
  background-color: var(--black-color);
  padding: 8px;
  pointer-events: none;
  transition: top .4s, opacity .4s, background-color .4s;
  opacity: 0;
}

.contact__form .contact__area {
  height: 10rem;
}

.contact__area textarea {
  resize: none;
  padding-top: 1rem;
}

.contact__button {
  background: var(--green-color);
  cursor: pointer;
}

/* Opaque placeholder */
.contact__input:focus::placeholder {
  opacity: 0;
}

/* Move label up & sticky label */
.contact__input:focus +.contact__label,
.contact__input:not(:placeholder-shown).contact__input:not(:focus) +.contact__label {
  opacity: 1;
  top: -16px;
}

.contact__social {
  display: grid;
  row-gap: 1rem;
  background-color: hsl(0, 0%, 10%);
  padding-block: 1rem;
  text-align: center;
}

.contact__social-arrow {
  width: 32px;
  margin: 0 auto;
}

.contact__social-data {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.contact__social-description-1 {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  margin-bottom: .5rem;
}

.contact__social-description-2 {
  color: var(--white-color);
  font-size: var(--small-font-size);
  font-weight: var(--semi-bold-weight);
}

.contact__social-links {
  column-gap: .75rem;
}

.contact__social-link {
  border: 3px solid var(--black-color);
  color: var(--black-color);
  padding: 6px;
  font-size: 1.25rem;
  display: grid;
  place-items: center;
  transition: color .4s, border .4s;
}

.contact__social-link:hover {
  color: var(--orange-color);
  border-color: var(--orange-color);
}

.contact__message {
  color: var(--white-color);
  font-size: var(--small-font-size);
  position: absolute;
  bottom: -1.6rem;
  left: 0;
}


/*=============== FOOTER ===============*/
.footer {
  background-color: var(--black-color);
  font-family: var(--text-font-style);
}

.footer__container {
  padding-block: 3rem 2rem;
  row-gap: 2.5rem;
}

.footer__links {
  column-gap: 2rem;
}

.footer__link {
  color: var(--white-color);
  transition: color .4s;
} 

.footer__link:hover {
  color: var(--text-color-light);
}

.footer__copy {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-align: center;
}

.footer__copy a {
  color: var(--white-color);
  font-weight: var(--medium-weight);
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: .5rem;
  background-color: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: hsl(0, 0%, 50%);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: .5rem;
  background-color: hsl(0, 0%, 40%);
}


/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--black-color);
  display: inline-flex;
  padding: 8px;
  font-size: 1.25rem;
  color: var(--white-color);
  z-index: var(--z-fixed);
  transition: bottom .4s, transform .4s, background-color .4s;
}

.scrollup:hover {
  transform: translateY(-.5rem);
}

.scrollup i {
  animation: blinking 3s infinite;
}

/* Animate scrollup icon */
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}